.button {
  display: flex;
  border: 0px;
  outline: none;
  padding: 8px 24px;
  background-color: #FF9500;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  cursor: pointer;
  transition: all .2s ease;
}

.button:hover, .button:active{
  box-shadow: 0 4px 8px rgba(0,0,0,.4);
}

.button:disabled {
  background-color: #cccccc;
  color: #666666;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
}

.button-white {
  background-color: #FFFFFF;
}

.button-span {
  font-weight: 600;
  color: #FFFFFF;
}

.button-span-white {
  color: #FF9500;
}