.input {
  flex: 1;
  border: none;
  font-size: 16px;
  text-align: start;
  line-height: 32px;
  color: #888B90;
  outline: none;
}

.input:focus {
  outline-width: 0;
}

.input-container {
  display: flex;
  justify-content: center;
  margin: 20px 16px;
}

.input-content {
  display: flex;
  flex: 1;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 8px 22px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  max-width: 340px;
  transition: all .2s ease;
}

.input-content:hover, .input-content:active{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-content:disabled {
  background-color: #cccccc;
  color: #666666;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
}