.input-container {
  display: flex;
  justify-content: center;
  margin: 20px 16px;
}

.input-content:hover, .input-content:active{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-content:disabled {
  background-color: #cccccc;
  color: #666666;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
}

.search-input {
  max-width: 340px;
}