.counter-content {
  display: flex;
  padding: 14px 14px;
  margin: 10px 10px;
  border-radius: 6px;
}

.content-selected {
  background-color: #FF950033;
}

.counter-title {
  display: flex;
  align-items: center;
}

.counter-title-text {
  text-align: start;
}

.counter-count-text {
  font-weight: 600;
  font-size: 20px;
  margin: 0px 12px;
  min-width: 23px;
}

.counter-disabled {
  color: #888B90;
}