.counter-content {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 14px 14px;
  margin: 10px 10px;
  border-radius: 6px;
}

.content-selected {
  background-color: #FF950033;
}

.counter-buttons {
  display: flex;
}

.counter-count-text {
  font-weight: 600;
  font-size: 20px;
  margin: 0px 12px;
  min-width: 23px;
}