.info {
  display: flex;
  align-items: center;
  padding: 0px 24px;
}

.main-container {
  justify-content: center;
}

.main-content {
  max-width: 570px;
}

.main-items-text {
  color: #888B90;
  letter-spacing: 0.02em;
  margin-left: 8px;
}

.main-icon {
  margin: 0px 8px;
}

.main-times-text {
  font-weight: 600;
  letter-spacing: 0.02em;
  color: #4A4A4A;
}

.main-text-color {
  color: #FF9500;
}

.main-refresh-text {
  margin-left: 6px;
  color: #FF9500;
}

.main-scroll {
  flex-basis: 0;
  flex-grow: 1;
}