.info {
  display: flex;
  align-items: center;
  padding: 0px 24px;
}

.main-container {
  justify-content: center;
}

.main-content {
  max-width: 570px;
}

.main-items-text {
  color: #888B90;
  font-weight: 500;
  letter-spacing: 0.02em;
  margin: 0px 8px;
}

.main-times-text {
  font-weight: 600;
  letter-spacing: 0.02em;
  color: #4A4A4A;
}

.main-timer-text-select {
  color: #FF9500;
  margin-right: 6px;
}

.main-refresh-text {
  margin-left: 6px;
  font-weight: 500;
  color: #FF9500;
}

.main-scroll {
  overflow: auto;
  scrollbar-width: none;
  flex-basis: 0;
  flex-grow: 1;
}

.main-scroll::-webkit-scrollbar {
  display: none;
}