/** Global Style **/

/* General Rules */

html, body {
  margin: 0px;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: var(--mobile-height) !important;
}

a {
  color: #4a4a4a;
}

a:hover {
  color: #2a2a2a;
}

a.no-link {
  text-decoration: none;
}

hr {
  margin: 0px 16px;
  color: rgba(0, 0, 0, 0.1);
  border-style: solid;
  border-width: 1px;
}

p, span, input {
  font-family: Avenir Next;
  text-align: center;
  font-size: 17px;
  margin: 0px;
  white-space: pre-line;
  -webkit-appearance: none;
}

input {
  flex: 1;
  width: 100%;
  min-width: 10px;
  border: none;
  font-size: 16px;
  text-align: start;
  line-height: 32px;
  color: #888B90;
  outline: none;
}

input:focus {
  outline-width: 0;
}

p.title {
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  margin: 22px 0px;
}

p.small {
  color: #888B90;
  font-size: 15px;
  line-height: 20px;
  text-align: start;
  margin: 9px 0px;
}

/* Utilities */

.container {
  display: flex;
  flex: 1;
}

.column {
  display: flex;
  flex-direction: column;
}

.center {
  align-items: safe center;
  justify-content: safe center;
}

.around {
  align-items: center;
  justify-content: space-around;
}

.evenly {
  align-items: center;
  justify-content: space-evenly;
}

/* Global Classes */

.input-content {
  display: flex;
  flex: 1;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 8px 22px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  transition: all .2s ease;
}

.input-content:active, .input-content:focus-within {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #FF9500;
}

.input-content:disabled {
  background-color: #cccccc;
  color: #666666;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
}

/* Global React Modal Transition */

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Content--after-open {
  top: 0px;
}

.ReactModal__Content--before-close {
  top: 100%;
}